.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .loginContainer {
        height: 100vh !important;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;


        .text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #007922;
            font-size: 1.8rem;
            text-decoration: underline;
            font-weight: 600;
        }

        .loginText {
            text-align: center;
            color: #007922;
            margin: 1rem 0rem 2rem 0rem;
            font-size: 1.3rem;
            font-weight: bolder
        }

        .loginFormContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;

            .loginForm {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

            }
        }
    }
}